.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-example{

  margin: 80px 50px auto 50px
}
.gutter-box {
  background: #2db7f5;
  height: 80px;
  line-height: 80px;
  border-radius: 6px;
}

.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
}
.custom-card p {
  color: #999;
}
