.title {
  color: black;
  display: inline-block;
  vertical-align: top;
  height: 24px;
  line-height: 24px;
  letter-spacing: normal;
  width: 100%;

  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: center;

}
.hrLine{
  margin-top: 5px;
}
.more_Link{
  display: inline-block;
  float: right;
  margin: 15px 0 auto auto;
}
.section_title{
  display: inline-block;
  margin: 10px auto 10px 0;
}
@media (max-width: 575px) {
  .littleScreen{
    width: 33%
  }
}
@media (max-width: 768px) {
  .more_Link_768{
    display: inline-block;
    float: right;
    margin: 10px 10px 0 auto;
  }
  .section_title_768{
    display: inline-block;
    margin: 10px auto 5px 10px;
  }
  .slide-box{
    margin-top: 5px;
    display: -webkit-box;
    /* overflow-x: scroll; */
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    font-size:14px;
  }
  .slide-box .SingleMovieDiv{
    height: 200px;
    width: 120px;
  }
  .slide-box .img-responsive{
    height: 140px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .slide-box .hrLine{
    display: none;
  }

}
