.breadcrumb {
  background-color:white;
  padding: 0;
}
.container{
  margin-top: 20px;
}
.container a{
  color:#666;
}
.container a:hover{
  color:#563d7c
}
.breadcrumb>li+li:before {
    content: "/\A0";
    padding: 0 5px;
    color: #ccc;
}
.ant-rate{
  font-size: 10px;
}
.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
/*在小于768像素的屏幕里,这里的样式才生效*/

@media (min-width: 767px) {

    .rating hr{
      display: none;
      /* background-color: red */
    }
}

/* @media (max-width: 575px) {

    .img-responsive{
      display: none;
    }
} */
