.littleScreen{
  width: 33%;
  margin-bottom: 15px;
}
.title {
  color: #dcdcdc !important;
  display: inline-block;
  /* vertical-align: top; */
  height: 24px;
  line-height: 24px;
  letter-spacing: normal;
  width: 100%;

  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: center;

  /* position: absolute; */


  margin-bottom: 4px

}

.more_Link{
  display: inline-block;
  float: right;
  margin: 15px 0 auto auto;
}
.section_title{
  display: inline-block;
  margin: 10px auto 10px 0;
}

.full-div{
  height: 100%;
  width: auto;
}
.float-title{
  position:absolute;
  width:-webkit-calc(100% - 30px);
  width:-moz-calc(100% - 30px);
  width:calc(100% - 30px);
  height: 30%;
  float:left;
  bottom: 0;

  background: -webkit-linear-gradient(top,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Safari 5.1 - 6 */
  background: -o-linear-gradient(bottom,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Opera 11.1 - 12*/
  background: -moz-linear-gradient(bottom,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Firefox 3.6 - 15*/
  background: linear-gradient(to bottom, rgba(5, 20, 41,0.2), rgba(5, 20, 41,1)); /* 标准的语法 */
  /* background-color: rgba(5, 20, 41, 0.7); */
}
@media (max-width: 575px) {
  .littleScreen{
    width: 33%;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .more_Link_768{
    display: inline-block;
    float: right;
    margin: 10px 10px 0 auto;
  }
  .section_title_768{
    display: inline-block;
    margin: 10px auto 5px 10px;
  }
  .slide-box{
    margin-top: 5px;
    display: -webkit-box;
    /* overflow-x: scroll; */
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    font-size:14px;
  }
  .slide-box .single-movie-div{
    height: 100%;
    width: auto;
  }
  .slide-box .img-responsive{
    height: 140px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .slide-box .hrLine{
    display: none;
  }
  .slide-box .full-div{
    position: relative;
    height: 100%;
    width: auto;
  }
  .float-title-768{

    /* width:-webkit-calc(100% - 20px);
    width:-moz-calc(100% - 20px);
    width:calc(100% - 20px); */
    position: absolute;
    width: 100px;
    margin-left: 10px;
    /* margin-bottom: -140px; */
    height: 30%;
    /* top:140px; */
    float:left;
    bottom: 0;
    /* margin-bottom: -140px; */



    background: -webkit-linear-gradient(top,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(bottom,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(bottom,rgba(5, 20, 41,0.2),rgba(5, 20, 41,1)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to bottom, rgba(5, 20, 41,0.2), rgba(5, 20, 41,1)); /* 标准的语法 */
    /* background-color: rgba(5, 20, 41, 0.7); */
  }
}
